{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
<style>
    .reset-password{
        width: auto;
        height: 100vh;
        margin-top: 27vh;
        margin-left: 47vh;
    }
</style>
<section class="reset-password">
    <p>
        Si un compte existant correspondant à votre adresse e-mail, un e-mail contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe vient d'être envoyé.
        Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas vôtre email, regarder dans votre dossier spam <a href="{{ path('app_forgot_password_request') }}">Recommencer</a>.</p>
</section>
{% endblock %}
