{% extends 'base.html.twig' %}

{% block title %}GeekBook réinitialiser vôtre mot de passe !{% endblock %}

{% block body %}
<style>

</style>

<section class="pt-6">
    <h1>Reset your password</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.password) }}
        <button class="rounded-full">Reset le mot de passe</button>
    {{ form_end(resetForm) }}
</section>
{% endblock %}
