route /.well-known/* {
    listen 443
    server_name localhost;
    root /srv;

    add_header X-Frame-Options "SAMEORIGIN";
    add_header X-SS-Protection "1; mode=block";
    add_header X-Content-Type-Options "nosniff";
    
    index index.html index.htm index.php;

    charset utf-8;

    encode zstd gzip;

    location / {
        
        root /srv/;
        proxy_pass http://localhost:2019/.well-known/mercure
        proxy_read_timeout 24h;
        proxy_http_version 1.1;
        proxy_set_header Connection "";

        ## Be sure to set USE_FORWARDED_HEADERS=1 to allow the hub to use those headers ##
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Proto $scheme;
        
        # Transport to use (default to Bolt)
        transport_url "bolt:///var/run/mercure.db?size=100&cleanup_frequency=0.4";
        # Publisher JWT key
        publisher_jwt {$MERCURE_PUBLISHER_JWT_KEY} {$MERCURE_PUBLISHER_JWT_ALG};
        # Subscriber JWT key
        subscriber_jwt {$MERCURE_SUBSCRIBER_JWT_KEY} {$MERCURE_SUBSCRIBER_JWT_ALG};
        cors_origins "*";
        publish_origins "*";
        subscriptions
        # Extra directives
        {$MERCURE_EXTRA_DIRECTIVES};
    }

    respond /healthz 200;

    respond "Not Found" 404;
}

log {
    output file /var/log/mercure/mercure.log {
        roll_local_time;
        roll_keep 7;
    }
}