https://172.19.0.2:2019 {
	
	mercure {
		# Publisher JWT key
		publisher_jwt !ChangeThisMercureHubJWTSecretKey!
		# Subscriber JWT key
		subscriber_jwt !ChangeThisMercureHubJWTSecretKey!

		origin "*"
	}

	respond "Not Found" 404
}