https://mercure.docker.localhost:3200 {
	
	mercure {
		# Publisher JWT key
		publisher_jwt !ChangeThisMercureHubJWTSecretKey!
		# Subscriber JWT key
		subscriber_jwt !ChangeThisMercureHubJWTSecretKey!

		origin "*"
	}

	respond "Not Found" 404
}