{% extends 'base.html.twig' %}

{% block body %}

<div class="container w-full mt-40 mx-auto">
    <h1>Vous n'avez pas l'autorisation pour accéder à cette page</h1>

    <p>
        Nous n'arrivons à vous connecter à cette page. Contacter l'Administrateur du site
         <a href="{{ path('app_home') }}" alt="retour à la page d'accueil" class="text-blue-600">Retourner à la page d'accueil</a>.
    </p>
</div>
{% endblock %}