HOME            = .
openssl_conf    = default_conf

[ ca ]
#Cette section nous permet de définir l'autorité de certification par défaut.
default_ca      = root_ca

#l'autorité de certification racine (root) valable 10 ans
[ root_ca ]
dir             = /etc/ssl/
certs           = $dir/certs
new_certs_dir   = $dir/newcerts
database        = $dir/index.txt
certificate     = $dir/killua.pem
serial          = $dir/serial
private_key     = $dir/private/killua.key
default_days    = 3650
default_md      = default
preserve        = no
policy          = policy_match
#unique_subject = no # Set to 'no' to allow creation of several certs with same subject.
name_opt        = ca_default
cert_opt        = ca_default

#l'autorité de certification intermédiaire valable 10 ans
[ core_ca ]
dir             = /etc/ssl/
certs           = $dir/certs  
new_certs_dir   = $dir/newcerts
database        = $dir/index.txt
certificate     = $dir/killua.pem 
serial          = $dir/serial
private_key     = $dir/private/killua.key
default_days    = 3650
default_md      = default
preserve        = no  
policy          = policy_match
#unique_subject = no # Set to 'no' to allow creation of several certs with same subject.
name_opt        = ca_default
cert_opt        = ca_default

[ policy_match ]
countryName             = match
stateOrProvinceName     = match
localityName		= match
organizationName        = match
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ policy_anything ]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ req ]
default_bits            = 4096
distinguished_name      = req_distinguished_name
string_mask             = utf8only

[ req_distinguished_name ]
countryName                     = Country Name (2 letter code)
countryName_default             = FR
countryName_min                 = 2
countryName_max                 = 2
stateOrProvinceName             = State or Province Name (full name)
stateOrProvinceName_default     = IDF
localityName                    = Locality Name (eg, city)
localityName_default            = Paris
0.organizationName              = Organization Name (eg, company)
0.organizationName_default      = CSNU
# we can do this but it is not needed normally 
#1.organizationName             = Second Organization Name (eg, company)
#1.organizationName_default     = World Wide Web Pty Ltd
organizationalUnitName          = Organizational Unit Name (eg, section)
#organizationalUnitName_default =
commonName                      = localhost
commonName_max                  = 64
emailAddress                    = elhadibeddarem@gmail.com
emailAddress_max                = 64

[ req_attributes ]
challengePassword               = A challenge password
challengePassword_min           = 4
challengePassword_max           = 20
unstructuredName                = An optional company name

[default_conf]
ssl_conf = ssl_sect

[ssl_sect]
system_default = system_default_sect

[system_default_sect]
MinProtocol = TLSv1.2
CipherString = DEFAULT@SECLEVEL=2

[ROOT_CA]
nsComment                       = "ROOT CA"
subjectKeyIdentifier            = hash
authorityKeyIdentifier          = keyid,issuer:always
basicConstraints                = critical,CA:TRUE,pathlen:1
keyUsage                        = critical, keyCertSign, cRLSign
nsCertType                      = sslCA, emailCA
subjectAltName                  = email:copy
issuerAltName                   = issuer:copy

[CORE_CA]
nsComment                       = "SSL CA"
basicConstraints                = critical,CA:TRUE,pathlen:0
subjectKeyIdentifier            = hash
authorityKeyIdentifier          = keyid,issuer:always
issuerAltName                   = issuer:copy
keyUsage                        = critical, keyCertSign, cRLSign
nsCertType                      = sslCA, emailCA
subjectAltName                  = email:copy
issuerAltName                   = issuer:copy

[SERVER_SSL]
nsComment                       = "SSL Server Certificate"
subjectKeyIdentifier            = hash
authorityKeyIdentifier          = keyid,issuer:always
issuerAltName                   = issuer:copy
subjectAltName                  = DNS:www.server.com, DNS:webmail.server.com
basicConstraints                = critical,CA:FALSE
keyUsage                        = critical, digitalSignature, nonRepudiation, keyEncipherment
nsCertType                      = server
extendedKeyUsage                = serverAuth

[CLIENT_SSL]
nsComment                       = "SSL Client Certificate"
subjectKeyIdentifier            = hash
authorityKeyIdentifier          = keyid,issuer:always
issuerAltName                   = issuer:copy
subjectAltName                  = critical,email:copy,email:root@server.com,email:admin@server.com
basicConstraints                = critical,CA:FALSE
keyUsage                        = critical,digitalSignature, nonRepudiation
nsCertType                      = client
extendedKeyUsage                = clientAuth