{% extends 'base.html.twig' %}

{% block title %}Mes commandes sur GeekBook !{% endblock %}

{% block body %}
 <section class="container mx-auto mt-40">
        <h1 class="text-2xl font-bold my-4">Mon Panier</h1>

        <!-- Liste des commandes -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <!-- Commande 1 -->
            <div class="bg-white rounded-lg shadow p-4">
                <h2 class="text-lg font-bold">Commande 1</h2>
                <p class="text-gray-600">Description de la commande 1.</p>
                <p class="text-gray-600">Prix: 10€</p>
                <!-- Bouton pour supprimer la commande -->
                <button class="bg-red-500 text-white px-4 py-2 rounded-lg mt-4">Supprimer</button>
            </div>

            <!-- Commande 2 -->
            <div class="bg-white rounded-lg shadow p-4">
                <h2 class="text-lg font-bold">Commande 2</h2>
                <p class="text-gray-600">Description de la commande 2.</p>
                <p class="text-gray-600">Prix: 15€</p>
                <!-- Bouton pour supprimer la commande -->
                <button class="bg-red-500 text-white px-4 py-2 rounded-lg mt-4">Supprimer</button>
            </div>

            <!-- Commande 3 -->
            <div class="bg-white rounded-lg shadow p-4">
                <h2 class="text-lg font-bold">Commande 3</h2>
                <p class="text-gray-600">Description de la commande 3.</p>
                <p class="text-gray-600">Prix: 20€</p>
                <!-- Bouton pour supprimer la commande -->
                <button class="bg-red-500 text-white px-4 py-2 rounded-lg mt-4">Supprimer</button>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
<script src="{{asset('build/app.js')}}"></script>
{% endblock %}